.container{
    background-image: url('https://images-na.ssl-images-amazon.com/images/I/71wZi-+gTRL.jpg');
    height: 100vh;
    background-position: center ;
    background-size: cover;
    display: grid;
    place-items: center;
}

.titleAndBtn{

}

.title{
    color: var(--white);
    text-align: center;
    background-color: var(--transparentBlack);
    min-width: 370px;
    margin: 15px auto;
    max-width: 757px;
}

.btn{
    border: var(--yellow) 2px solid;
    background-color: var(--blue);
    color: var(--white);
    border-radius: 5px;
    font-size: 20px;
    padding: 10px 85px;    
    text-align: center;
    margin: 20px auto;
    display: grid;
    place-items: center;
}

.btn:hover{
    color: var(--blue);
    border: var(--yellow) solid 1px;
    background-color: var(--transparentYellow);
}