.container{
    background-image: url('https://images-na.ssl-images-amazon.com/images/I/71wZi-+gTRL.jpg');
    height: 100vh;
    background-position: center ;
    background-size: cover;
    display: grid;
    place-items: center;
}

.title{
    color: var(--white);
    background-color: var(--transparentYellow);
    min-width: 370px;
    margin: 15px auto;
    max-width: 757px;
    padding: 5px 15px;
    font-size: 2rem;
}

.btn{
    border: var(--yellow) 2px solid;
    background-color: var(--blue);
    color: var(--white);
    border-radius: 5px;
    font-size: 20px;
    padding: 10px 85px;    
    text-align: center;
    margin: 20px auto;
    display: grid;
    place-items: center;
}

.btn:hover{
    color: var(--blue);
    border: var(--yellow) solid 1px;
    background-color: var(--transparentYellow);
}

h1 span{
    color: var(--white);
    font-size: 3rem;
}

@media all and  (max-width: 820px){
    .title{
        max-width: 345px;
        min-width: 335px;
    }
}