.container{
    background-image: var(--backgroundImage);
    height: 100vh;
    background-position: center ;
    background-size: cover;
    display: grid;
    place-items: center;
}

.title{
    color: var(--white);
    background-color: var(--transparentYellow);
    min-width: 370px;
    margin: 15px auto;
    max-width: 700px;
    padding: 5px 15px;
    font-size: 2rem;
    text-align: center;
}

.btn{
    border: var(--yellow) 2px solid;
    background-color: var(--blue);
    color: var(--white);
    border-radius: 5px;
    font-size: 20px;
    padding: 10px 85px;    
    text-align: center;
    margin: 20px auto;
    display: grid;
    place-items: center;
}

.btn:hover{
    color: var(--blue);
    border: var(--yellow) solid 1px;
    background-color: var(--transparentYellow);
}

div span{
    color: var(--white);
    font-size: 3rem;
}

@media all and  (max-width: 820px){
    .title{
        max-width: 345px;
        min-width: 335px;
    }
}