.container{
    background-image: url("https://www.lavanguardia.com/peliculas-series/images/serie/backdrop/1998/9/w1280/d61HAPYS3XVYOTRBCKf0LON1cag.jpg");
    height: 110vh;
    background-position: center ;
    background-size: cover;
}

.questionAndAnswers{
    display: grid;
    place-items: center;
    height: 50%;
}

.fourQuestions{
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

span{
    color: var(--yellow);
}

.wildcards{
    max-width:  757px;
    margin: 20px auto;
    text-align: center;
}

.counterAndAmount{
    display: flex;
    color: var(--white);
    align-items: center;
    justify-content: space-between;
    margin: 0px 30px;
}

@media all and (max-width: 820px){
    .fourQuestions{
        display: block;
    }

    .wildcards{
        margin: 50px auto;
    }
}

.cash{
    text-decoration: none;
    color: var(--white);
    background-color: var(--transparentYellow);
    padding: 0px 10px 3px 10px;
    text-align: end;
}

.amountAndCash{
    display: flex;
    flex-direction: column;
}

@media all and  (max-width: 820px){
    .questionAndAnswers{
        max-width: 370px;
        margin: 0px auto;
    }
}