.question{
    color: var(--white);
    text-align: center;
    background-color: var(--transparentBlack);
    min-width: 370px;
    margin: 15px auto;
    max-width: 757px;
    border: 1px solid var(--yellow);
    padding: 0px 10px;
}
