.question{
    color: rgb(255,255,255);
    text-align: center;
    background-color: rgba(0,0,0,0.7);
    min-width: 370px;
    margin: 15px auto;
    max-width: 757px;
    border: 1px solid rgb(250,155,3);
    padding: 0px 10px;
}
