.wildcard{
    border: rgb(250,155,3) 2px solid;
    background-color: rgb(250,155,3);
    color: rgb(255,255,255);
    border-radius: 5px;
    font-size: 18px;
    padding: 10px 15px;    
    margin: 20px;
    min-width: 280px;
}

.wildcard:hover{
    border: rgb(255,255,255) 2px solid;
    background-color: rgb(255,255,255);
    color: rgb(250,155,3);
}

button:disabled{
    background-color: -internal-light-dark(rgba(239, 239, 239, 0.3), rgba(19, 1, 1, 0.3));
    color: -internal-light-dark(rgba(16, 16, 16, 0.3), rgba(255, 255, 255, 0.3));
    border-color: -internal-light-dark(rgba(118, 118, 118, 0.3), rgba(195, 195, 195, 0.3));
    border-radius: 5px !important;
    font-size: 18px !important;
    padding: 10px 15px !important;    
    margin: 20px !important;
    min-width: 280px !important; 
}