.wildcard{
    border: var(--yellow) 2px solid;
    background-color: var(--yellow);
    color: var(--white);
    border-radius: 5px;
    font-size: 18px;
    padding: 10px 15px;    
    margin: 20px;
    min-width: 280px;
}

.wildcard:hover{
    border: var(--white) 2px solid;
    background-color: var(--white);
    color: var(--yellow);
}

button:disabled{
    background-color: var(--disabledBackground);
    color: var(--disabledLetter);
    border-color: var(--disabledBorder);
    border-radius: 5px !important;
    font-size: 18px !important;
    padding: 10px 15px !important;    
    margin: 20px !important;
    min-width: 280px !important; 
}