body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root{
  --yellow: rgb(250,155,3);
  --white: rgb(255,255,255);
  --blue: rgb(11,14,72);
  --transparentYellow: rgba(250,155,30,0.9);
  --transparentBlack: rgba(0,0,0,0.8);
  --red: red;
  --disabledBackground: rgba(239, 239, 239, 0.3);
  --disabledLetter: rgba(16, 16, 16, 0.3);
  --disabledBorder: rgba(118, 118, 118, 0.3);
  --backgroundImage: url('https://images-na.ssl-images-amazon.com/images/I/71wZi-+gTRL.jpg');
}