.answer{
    border: var(--yellow) 2px solid;
    background-color: var(--blue);
    color: var(--white);
    border-radius: 5px;
    font-size: 20px;
    padding: 10px 15px;    
    justify-content: center;
    text-align: start;
    margin: 10px;
    min-width: 330px;
}

.answer:hover{
    color: var(--blue);
    border: var(--yellow) solid 1px;
    background-color: var(--transparentYellow);
}

.example button {
    background-color: var(--white);
    border: var(--yellow) 1px solid;
    color: var(--yellow);
}

/* .example button:hover{
    background-color: var(--yellow);
    border: var(--yellow) 1px solid;
    color: var(--white);
    
} */

