.answer{
    border: var(--yellow) 2px solid;
    background-color: var(--blue);
    color: var(--white);
    border-radius: 5px;
    font-size: 20px;
    padding: 10px 15px;    
    justify-content: center;
    text-align: start;
    margin: 15px;
    min-width: 370px;
}

.answer:hover{
    color: var(--blue);
    border: var(--yellow) solid 1px;
    background-color: var(--transparentYellow);
}