
.container{
    background-color: var(--blue);
    height: 100vh;
    display: grid;
    place-items: center;
}

.title{
    color: var(--white);
    text-align: center;
    background-color: var(--transparentBlack);
    min-width: 370px;
    margin: 15px auto;
    max-width: 757px;
    padding: 0px 15px;
}

.btn{
    border: var(--yellow) 2px solid;
    background-color: var(--blue);
    color: var(--white);
    border-radius: 5px;
    font-size: 20px;
    padding: 10px 85px;    
    text-align: center;
    margin: 20px auto;
    display: grid;
    place-items: center;
}

.btn:hover{
    color: var(--blue);
    border: var(--yellow) solid 1px;
    background-color: var(--transparentYellow);
}

